.home {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.home h1 {
    flex-grow: 1;
    font-size: 35px;
}

.topic-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    background-color: #f0f8ff;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.topic-card div{
    background-color: #dbeeff;
    border-radius: 8px;
    padding: 15px;
}

.topic-card ul {
    padding-left: 20px;
}